
/* boxes */
.article-box {
	height: 100px;
	max-height: 100px;
	width: 246px;
	max-width: 246px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	float: left;
	clear: none;
	margin-right: 3px;
	margin-bottom: 14px;
	margin-left: 7px;
	padding: 0px;
	color: white !important;
}
.article-box .image-header {
	opacity: 0.6;
	background-color: #000;
}

.article-box .header {
	position: absolute;
	font-size: 140%;
	line-height: 110%;
	font-weight: bold;
	font-family: 'Signika', arial, helvetica;
	display: inline;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 3px;
	max-width: 245px;
	min-width: 245px;
	word-break: keep-all;
}

.article-box .rating {
	position: relative;
	top: 83px;
	left: 180px;
	width: 70px;
	display: inline-block;
}	

.event-box {
	color: #333 !important;
}

.event-box h3 {
	font-size: 150%;
	line-height: 110%;
	font-weight: 900;
}	
.event-box h4 {
	font-size: 120%;
	line-height: 110%;
	font-weight: 500;
}	
.event-box h4:first-letter {
	text-transform: uppercase;
}
.event-box h3,
.event-box h4 {
	font-family: 'Signika', arial, helvetica;
	padding-left: 6px;
	margin-top: 4px;
	margin-bottom: 3px;
	max-width: 245px;
}
.event-box h5 {
	position: relative;
	bottom: 10px;
	left: 7px;
}

/* Populære artikler fra samme bruger */
span.user-article-popular {
	width: 225px;
	max-width: 225px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: nowrap;
}

/* new artikel content */
div.ta-editor p {
	font-size: 16px;
}

div.artikel-content p:not(.alert) {
	word-wrap: normal;
	white-space: pre-wrap;
	font-size: 16px;
	padding-bottom: 3px;
	color: #333;
}

div.artikel-content blockquote p {
	font-style: italic;
	font-size: 16px !important;
}

div.artikel-content iframe {
	width: 100% !important;
	min-height: 400px !important;
}

.artikel-content ul {
	padding-left: 10px;
	margin-left: 10px;
}
	
/* EditArticle.service */
.modal-header-article {
	border: none !important;
	padding-bottom: 0px !important;
}
.modal-footer-article {
	border: none !important;
	padding-top: 10px !important;
}

.modal-dialog.article-dialog {
	min-width: 800px !important;
	max-width: 800px !important;
	width: 700px !important;
}
.article-dialog .modal-body {
	height: 460px !important;
	min-height: 460px !important;
	max-height: 460px !important;
	font-size: 90%;
}

.ta-editor.form-control.ta-editor-article-dialog, 
.ta-scroll-window.form-control.ta-editor-article-dialog {
	min-height: 220px;
	height: 220px;
	max-width: 100%;
	white-space: normal;
}
#edit-article-modal textarea.ta-html {
	min-height: 220px;
	max-height: 220px;
	font-weight: normal;
	XXpadding: 6px 12px;
}

