
.artikel {
}

.artikel-image {
	float: left;
	display: inline-block;
	clear: none;
}

.artikel-image img {
	padding: 0px;
	max-height: 250px;
	max-width: 100%;
	padding-right: 10px;
}

.artikel-content {
}

