
.frontpage {
}

.frontpage .frontpage-image {
	float: left;
	margin: 20px;
	margin-left: 0px;
	margin-top: 7px;
	margin-bottom: 5px;
	display: block;
	clear: none;
}

.frontpage .frontpage-image img {
	max-height: 160px;
}

.frontpage .frontpage-header {
	float: left;
	display: block;
	width: 100%;
}

.frontpage .frontpage-manchet {
	float: left;
	display: block;
	margin-bottom: 10px;
}

.frontpage .frontpage-content {
	xxfloat: left;
	display: block;
	clear: none;
}


