
/**
 *
 * CSS for recentArticles, upcomingEvents, recentEvents
 */

.recent {
	border-bottom: 1px solid #ebebeb;
	vertical-align: top;
	float: left;
	XXXwidth: 224px !important;
	width: 100% !important;
	display: block;
	max-width: 100%;
	position: relative;
	display: block;
	padding: 0px;
	margin: 0px;	
}
.recent-no-border {
	border-bottom: 0px;
}

.recent .header {
	float: left;
	width: 100%;
	display: inline-block;
	margin-bottom: 4px;
}

.recent .recent-image {
	margin-right: 9px;
	margin-bottom: 5px;
	float: left;
}

.recent .recent-image img {
	max-width: 50px;
}

.recent .recent-desc {
	padding-left: 0px;
	padding-top: -4px;
	position: relative;
	top: -5px;
}

.recent .recent-no-overflow {
	overflow: hidden;
	display: block;
	width: 100%;
	float: left;
}

.recent-no-overflow a,
.recent-no-overflow span {
}

.recent small {
	margin-left: 2px;
	margin-right: 2px;
	font-size: 80%;
	position: relative;
	top: -1px;
	color: silver;
}


