
<div ng-controller="AdminCtrl">

	<a href="/admin-overblik" debug-link admin-is-selected>Overblik</a>

	<a href="/admin-forside" 
		ng-class="{ 'disabled' : !adminRights.frontpageView }" 
		debug-link 
		admin-is-selected>Forside
	</a>

	<a href="/admin-statiske-sider" 
		ng-class="{ 'disabled' : !adminRights.static_pageView }" 
		debug-link 
		admin-is-selected>Statiske sider
	</a>

	<a href="/admin-brugere" 
		ng-class="{ 'disabled' : !adminRights.userView }" 
		debug-link 
		admin-is-selected>Brugere
	</a>

	<a href="/admin-bruger-requests" 
		ng-class="{ 'disabled' : !adminRights.user_requestView }" 
		debug-link 
		admin-is-selected>Bruger requests
	</a>

	<a href="/admin-foreninger" 
		ng-class="{ 'disabled' : !adminRights.associationView }" 
		debug-link 
		admin-is-selected>Foreninger
	</a>

	<a href="/admin-grupper" 
		ng-class="{ 'disabled' : !adminRights.groupView }" 
		debug-link 
		admin-is-selected>Grupper
	</a>

	<a href="/admin-events" 
		ng-class="{ 'disabled' : !adminRights.eventView }" 
		debug-link 
		admin-is-selected>Events
	</a>

	<a href="/admin-artikler"
		ng-class="{ 'disabled' : !adminRights.articleView }" 
		debug-link 
		admin-is-selected>Artikler
	</a>

	<a href="/admin-kommentarer" debug-link admin-is-selected ng-disabled="true" class="disabled">Kommentarer</a>

	<a href="/admin-billeder" debug-link admin-is-selected ng-disabled="true" class="disabled">Billeder</a>


</div>

