
<div ng-controller="AdminCtrl">

	<a href="/admin-overblik" debug-link admin-is-selected>Overblik</a>
	<a href="/admin-forside" debug-link admin-is-selected>Forside</a>
	<a href="/admin-brugere" debug-link admin-is-selected>Brugere</a>
	<a href="/admin-foreninger" debug-link admin-is-selected>Foreninger</a>
	<a href="/admin-grupper" debug-link admin-is-selected>Grupper</a>
	<a href="/admin-events" debug-link admin-is-selected>Events</a>
	<a href="/admin-artikler" debug-link admin-is-selected>Artikler</a>
	<a href="/admin-kommentarer" debug-link admin-is-selected>Kommentarer</a>
	<a href="/admin-statisk" debug-link admin-is-selected>Statiske sider</a>

</div>


