<div class="modal ng-scope top am-fade-and-slide-top center col-md-12" tabindex="-1" role="dialog" style="display: block;" id="bruger-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title"> {{ __brugerModal.title }}</h4>
			</div>

			<div class="modal-body">
				<div bs-tabs>
					<div bs-pane data-title="Generelt">
						<br>
						<form role="form" class="form-horizontal" autocomplete="off">

					    <div class="form-group">
					      <label class="col-md-2 control-label required" for="first_name">Fornavn</label>
								<div class="col-md-4">
							    <input class="form-control" 
										type="text"
										id="first_name"
										select-on-click
										ng-model="edit.first_name" 
										placeholder="Fornavn">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label required" for="last_name">Efternavn</label>
								<div class="col-md-4">
							    <input class="form-control" 
										type="text"
										id="last_name"
										select-on-click
										ng-model="edit.last_name" 
										placeholder="Efternavn">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label required" for="full_name">Fulde navn</label>
								<div class="col-md-5">
							    <input class="form-control" 
										type="text"
										id="full_name"
										select-on-click
										ng-model="edit.full_name" 
										placeholder="Fulde navn">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label required" for="alias">Alias</label>
								<div class="col-md-5">
							    <input class="form-control" 
										type="text"
										id="alias"
										select-on-click
										ng-model="edit.alias" 
										placeholder="Alias, kaldenavn">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label required" for="email">Email</label>
								<div class="col-md-5">
							    <input class="form-control" 
										type="text"
										id="email"
										select-on-click
										ng-model="edit.email" 
										placeholder="Email">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label required" for="password">Password</label>
								<div class="col-md-5">
							    <input class="form-control" 
										type="text"
										id="password"
										select-on-click
										ng-model="edit.password" 
										placeholder="Password">
								</div>
							</div>

						</form>
					</div>

<!-- indstillinger -->
					<div bs-pane data-title="Indstillinger">
						<form role="form" class="form-horizontal" autocomplete="off">
							<br>
					    <div class="form-group">
								<label class="col-md-1 control-label" for=""></label>
								<div class="col-md-11 checkbox">
									<label class="checkbox">
										<input type="checkbox" 
											ng-model="edit.visible_email"
											ng-false-value="0" 
											ng-true-value="1">Synlig email-adresse
									</label>
								</div>

								<label class="col-md-1 control-label" for=""></label>
								<div class="col-md-11 checkbox">
									<label class="checkbox">
										<input type="checkbox" 
											ng-model="edit.visible_social_media"
											ng-false-value="0" 
											ng-true-value="1">Synlig web / sociale medier
									</label>
								</div>

								<label class="col-md-1 control-label" for=""></label>
								<div class="col-md-11 checkbox">
									<label class="checkbox">
										<input type="checkbox" 
											ng-model="edit.visible_phone"
											ng-false-value="0" 
											ng-true-value="1">Synlig telefon nummer
									</label>
								</div>

								<label class="col-md-1 control-label" for=""></label>
								<div class="col-md-11 checkbox">
									<label class="checkbox">
										<input type="checkbox" 
											ng-model="edit.visible_address"
											ng-false-value="0" 
											ng-true-value="1">Synlig adresse
									</label>
								</div>

								<label class="col-md-1 control-label" for=""></label>
								<div class="col-md-11 checkbox">
									<label class="checkbox">
										<input type="checkbox" 
											ng-model="edit.visible_calendar"
											ng-false-value="0" 
											ng-true-value="1">Synlig kalender
									</label>
								</div>

								<div class="col-md-12">
									<br><br>
								</div>

								<label class="col-md-1 control-label" for=""></label>
								<div class="col-md-11 checkbox" ng-if="adminRights.userQuarantine == true">
									<label class="checkbox">
										<input type="checkbox" 
											ng-model="edit.quarantine"
											ng-false-value="0" 
											ng-true-value="1">Sæt i karantæne
									</label>
								</div>
							
								<label class="col-md-1 control-label" for=""></label>
								<div class="col-md-11 checkbox" ng-if="!is_self && adminRights.userGrantAdmin == true">
									<label class="checkbox">
										<input type="checkbox" 
											ng-model="edit.role"
											ng-false-value="null" 
											ng-true-value="2">Administrator
									</label>
								</div>
							</div>
						</form>	
					</div>

<!-- adresse -->
					<div bs-pane data-title="Adresse">
						<edit-address hash="{{ edit.hash }}"></edit-address>	
					</div>

<!-- bio -->
					<div bs-pane data-title="Bio">
						<form role="form" class="form-horizontal" autocomplete="off">
							<br>
					    <div class="form-group">
								<div class="col-md-12">
									<text-angular ng-model="edit.about" 
										ta-text-editor-class="form-control col-md-12"
										ta-toolbar="[['h2','h3'],['bold','italics','underline'],['insertLink'], ['undo', 'redo', 'html']]">
									</text-angular>
								</div>
							</div>
						</form>
					</div>

<!-- billede -->
					<div bs-pane data-title="Billede">
						<br>
						<div class="col-md-4 col-md-offset-4">
							<attach-image ng-model="edit.image" type="u"></attach-image>
						</div>
					</div>

<!-- socialt -->
					<div bs-pane data-title="Web / Sociale medier" ng-if="edit.hash != undefined">
						<edit-social-media hash="{{ edit.hash }}"></edit-social-media>
					</div>

<!-- grupper -->
					<div bs-pane data-title="Grupper">
						<table datatable="" 
							id="table-bruger-grupper"
							class="table table-striped col-md-12 no-padding no-margin" 
							dt-options="dtOptions_grupper" 
							dt-columns="dtColumns_grupper" 
							dt-instance="dtInstanceCallback">
						</table>
					</div>

<!-- handlinger -->
					<div bs-pane data-title="Handlinger">
						<log-notifications user-id="{{ edit.id }}"></log-notifications>
					</div>

<!-- administrator rettigheder -->
					<div bs-pane data-title="Admin rettigheder" ng-if="!is_self && edit.role == 2 && edit_admin_rights && adminRights.userGrantAdmin">
						<form role="form" class="form-horizontal" autocomplete="off">
							<br>
					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Forside: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.frontpageView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.frontpageUpdate"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Brugere: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.userView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.userEdit"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.userCreate"
											ng-false-value="false" 
											ng-true-value="true">Oprette
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.userGrantAdmin"
											ng-false-value="false" 
											ng-true-value="true">Tildele admin-rettigheder
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.userQuarantine"
											ng-false-value="false" 
											ng-true-value="true">Sætte i karantæne
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Bruger requests: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.user_requestView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.user_requestAccept"
											ng-false-value="false" 
											ng-true-value="true">Acceptere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.user_requestRemove"
											ng-false-value="false" 
											ng-true-value="true">Fjerne
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Events: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.eventView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.eventEdit"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.eventCreate"
											ng-false-value="false" 
											ng-true-value="true">Oprette
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.eventRemove"
											ng-false-value="false" 
											ng-true-value="true">Slette
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Grupper: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.groupView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.groupEdit"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.groupCreate"
											ng-false-value="false" 
											ng-true-value="true">Oprette
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.groupRemove"
											ng-false-value="false" 
											ng-true-value="true">Slette
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Foreninger: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.associationView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.associationEdit"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.associationCreate"
											ng-false-value="false" 
											ng-true-value="true">Oprette
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.associationRemove"
											ng-false-value="false" 
											ng-true-value="true">Slette
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Artikler: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.articleView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.articleEdit"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.articleCreate"
											ng-false-value="false" 
											ng-true-value="true">Oprette
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.articleRemove"
											ng-false-value="false" 
											ng-true-value="true">Slette
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Statiske sider: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.static_pageView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.static_pageEdit"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.static_pageCreate"
											ng-false-value="false" 
											ng-true-value="true">Oprette
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.static_pageRemove"
											ng-false-value="false" 
											ng-true-value="true">Slette
									</label>
								</div>
							</div>

					    <div class="form-group no-margin">
					      <label class="col-md-2 control-label" for="">Kommentarer: </label>
								<div class="col-md-10">
									<label class="checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.commentView"
											ng-false-value="false" 
											ng-true-value="true">Se
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.commentEdit"
											ng-false-value="false" 
											ng-true-value="true">Redigere
									</label>
									<label class="control-label checkbox-inline">
										<input type="checkbox" 
											ng-model="edit_admin_rights.commentRemove"
											ng-false-value="false" 
											ng-true-value="true">Slette
									</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<button type="button" 
					class="btn" 
					ng-click="brugerModalClose(true)" 
					ng-class="{ 'btn-success' : canSave() }"
					ng-disabled="!canSave()">
						{{ __brugerModal.btnOk }}
				</button> 
				<button type="button" 
					class="btn btn-default" 
					ng-click="brugerModalClose(false)" 
					ng-show="!alertParams.okOnly" >
						Fortryd
				</button> 
			</div>

		</div>
	</div>
</div>
