<div>
	<form class="form-horizontal">

		<div class="col-md-12 no-padding">
			<span class="h2 col-md-4 no-margin">{{ header }}</span>
			<span class="col-md-4">
				<button class="btn btn-default btn-sm" 
					type="button"
					ng-class="{ 'btn-success' : canSave() }"
					ng-disabled="!canSave()"
					ng-click="doSaveClose()"> {{ save_btn_caption }}
				</button>
				<button class="btn btn-danger btn-sm" 
					type="button"
					ng-click="doCancel()">Fortryd
				</button>
			</span>
		</div>

		<div class="col-md-12 clearfix"><br></div>

		<table class="col-md-12">
			<tr>
				<td class="col-md-8">
					<div class="form-group">
			      <label class="col-md-2 control-label required" for="name">Navn</label>
						<div class="col-md-10">
					    <input class="form-control" 
								type="text"
								id="name"
								select-on-click
								ng-model="edit.name" 
								placeholder="Navn på gruppe">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<text-angular ng-model="edit.about" 
								spellcheck="false"
								ta-text-editor-class="form-control ta-editor-md"
								ta-toolbar="[['h2','h3'],['bold','italics','underline','strikeThrough'],['insertLink'], ['html']]">
							</text-angular>
						</div>
					</div>
				</td>
				<td class="col-md-4">
					<attach-image ng-model="edit.image" type="g"></attach-image>
				</td>
			</tr>
		</table>

	</form>


<!-- indstillinger -->
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-target="#panel-indstillinger">
						<i class="fa fa-minus text-muted"></i>
						Indstillinger
	        </a>
	      </h4>
	    </div>
	    <div class="panel-collapse in" role="tabpanel" id="panel-indstillinger">
	      <div class="panel-body">
					<div class="col-md-11">
						<br>
						<form id="settings" role="form" class="form-horizontal" autocomplete="off">

							<div class="form-group">
					      <label class="col-md-2 control-label" for="">Synlighed </label>
									<div class="col-md-7">
									<label class="radio-inline">
										<input type="radio" 
											name="visibility_level" 
											ng-model="edit.visibility_level"
											ng-value="1" > Offentlig
									</label>
									<label class="radio-inline">
										<input type="radio" 
											name="visibility_level" 
											ng-model="edit.visibility_level"
											ng-value="2"> Kun brugere
									</label>
									<label class="radio-inline">
										<input type="radio" 
											name="visibility_level" 
											ng-model="edit.visibility_level"
											ng-value="3"> Kun gruppe
									</label>
								</div>
							</div>

							<div class="form-group">
					      <label class="col-md-2 control-label" for="">Indhold </label>
									<div class="col-md-7">
									<label class="radio-inline">
										<input type="radio" 
											name="access_level" 
											ng-model="edit.access_level"
											ng-value="1" > Offentlig
									</label>
									<label class="radio-inline">
										<input type="radio" 
											name="access_level" 
											ng-model="edit.access_level"
											ng-value="2"> Kun brugere
									</label>
									<label class="radio-inline">
										<input type="radio" 
											name="access_level" 
											ng-model="edit.access_level"
											ng-value="3"> Kun gruppe
									</label>
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label" for="owner">Gruppeejer</label>
								<div class="col-md-3">
							    <button class="btn btn-default btn-sm"
										id="owner_id"
										ng-click="selectOwner()"
										ng-model="edit.owner_id">
											{{ owner_btn_caption }}
									</button>
								</div>
							</div>
				    	<div class="form-group">
					      <label class="col-md-2 control-label" for=""></label>
								<div class="col-md-3">
									<div class="checkbox">
									  <label class="control-label">
											<input type="checkbox" 
												ng-false-value="0"
												ng-true-value="1"
												name="active"
												ng-model="edit.active">Aktiv
										</label>
									</div>
									<div class="checkbox">
									  <label class="control-label">
											<input type="checkbox" 
												ng-false-value="0"
												ng-true-value="1"
												name="events_enabled"
												ng-model="edit.events_enabled">Tillad events
										</label>
									</div>
									<div class="checkbox">
									  <label class="control-label">
											<input type="checkbox" 
												ng-false-value="0"
												ng-true-value="1"
												name="articles_enabled"
												ng-model="edit.articles_enabled">Tillad artikler
										</label>
									</div>
								</div>
					    	<div class="col-md-4">
									<div class="checkbox">
									  <label class="control-label">
											<input type="checkbox" 
												ng-false-value="0"
												ng-true-value="1"
												name="comments_enabled"
												ng-model="edit.comments_enabled">Kommentarer slået til
										</label>
									</div>
									<div class="checkbox">
									  <label class="control-label">
											<input type="checkbox" 
												ng-false-value="0"
												ng-true-value="1"
												name="visible_members"
												ng-model="edit.visible_members">Medlemmer synlige
										</label>
									</div>
									<div class="checkbox">
									  <label class="control-label">
											<input type="checkbox" 
												ng-false-value="0"
												ng-true-value="1"
												name="visible_social_media"
												ng-model="edit.visible_social_media">Web / SoMe synlig
										</label>
									</div>

					      </div>
							</div>
						</form>
					</div>

					<div class="col-md-1">
						<br>
						<button class="btn btn-xs btn-default pull-right"
							ng-click="formSave('#settings')"
							ng-class="{ 'btn-primary' : formSaveEnabled('#settings') }"
							ng-disabled="!formSaveEnabled('#settings')">
							Gem
						</button>
					</div>

		    </div>
			</div>
		</div>

<!-- sociale links -->
	  <div class="panel panel-default" ng-if="edit.id">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-target="#panel-social">
						<i class="fa fa-minus text-muted"></i>
						Socialt
	        </a>
	      </h4>
	    </div>
	    <div class="panel-collapse in" role="tabpanel" id="panel-social">
	      <div class="panel-body">
					<edit-social-media hash="{{ edit.hash }}"></edit-social-media>
	      </div>
	    </div>
	  </div>

<!-- group members -->
	  <div class="panel panel-default" ng-if="edit.id">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-target="#panel-members">
						<i class="fa fa-minus text-muted"></i>
						Medlemmer
	        </a>
	      </h4>
	    </div>
	    <div class="panel-collapse in" role="tabpanel" id="panel-members">
	      <div class="panel-body">
					<br>
					<table datatable="" 
						ng-enabled="edit.id > -1"
						id="table-gruppe-medlemmer"
						class="table table-striped col-md-12 no-padding no-margin" 
						dt-options="dtOptions" 
						dt-columns="dtColumns"
						dt-instance="dtInstanceCallback">
					</table>
				</div>
			</div>
		</div>


</div>




