<div>
	<form class="form-horizontal">
		<div class="form-group">
      <label class="col-md-1 control-label" for=""></label>
			<label class="radio-inline">
				<input type="radio" 
					name="visibility_level" 
					ng-model="edit.visibility_level"
					ng-value="'1'" > Offentlig
			</label>
			<label class="radio-inline">
				<input type="radio" 
					name="visibility_level" 
					ng-model="edit.visibility_level"
					ng-value="'2'"> Kun brugere
			</label>
			<label class="radio-inline">
				<input type="radio" 
					name="visibility_level" 
					ng-model="edit.visibility_level"
					ng-value="'3'"> Kun gruppe
			</label>

			<div class="pull-right action-element">
				<button class="btn btn-default btn-sm" 
					type="button"
					ng-class="{ 'btn-success' : canSave() }"
					ng-disabled="!canSave()"
					ng-click="doSaveClose()"> {{ save_btn_caption }}
				</button>
				<button class="btn btn-danger btn-sm" 
					type="button"
					ng-click="doCancel()">Fortryd
				</button>
			</div>
		</div>
		<table class="col-md-12">
			<tr>
				<td class="col-md-8">
					<div class="form-group">
			      <label class="col-md-1 control-label required" for="name">Navn</label>
						<div class="col-md-11">
					    <input class="form-control" 
								type="text"
								id="name"
								select-on-click
								ng-model="edit.name" 
								placeholder="Navn på gruppe">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<text-angular ng-model="edit.about" 
								ta-text-editor-class="form-control ta-editor-md"
								ta-toolbar="[['h2','h3'],['bold','italics','underline','strikeThrough'],['insertLink'], ['html']]">
							</text-angular>
						</div>
					</div>
				</td>
				<td class="col-md-4">
					<attach-image ng-model="edit.image" type="g"></attach-image>
				</td>
			</tr>
		</table>

	</form>


<!-- collapsible -->
	<div class="panel-group" 
		ng-model="Settings.groupEditCollapse"
		role="tablist" 
		aria-multiselectable="true" 
		bs-collapse 
		bs-collapse-icons
		data-start-collapsed="true"
		data-allow-multiple="true">

<!-- indstillinger -->
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	        <a bs-collapse-toggle>
						Indstillinger
	        </a>
	      </h4>
	    </div>
	    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
	      <div class="panel-body">
					<div class="col-md-1"></div>
					<form id="settings" role="form" class="form-horizontal" autocomplete="off">

						<div class="col-md-12 no-padding no-margin">
							<button class="btn btn-xs btn-default pull-right"
								ng-click="formSave('#settings')"
								ng-class="{ 'btn-primary' : formSaveEnabled('#settings') }"
								ng-disabled="!formSaveEnabled('#settings')">
								Gem
							</button>
						</div>

				    <div class="form-group">
				      <label class="col-md-2 control-label" for="owner">Gruppeejer</label>
							<div class="col-md-3">
						    <button class="btn btn-default btn-sm"
									id="owner_id"
									ng-click="selectOwner()"
									ng-model="edit.owner_id">
										{{ owner_btn_caption }}
								</button>
							</div>
						</div>
			    	<div class="form-group">
				      <label class="col-md-2 control-label" for=""></label>
							<div class="col-md-4">
								<div class="checkbox">
								  <label class="control-label">
										<input type="checkbox" 
											ng-false-value="'0'"
											ng-true-value="'1'"
											name="active"
											ng-model="edit.active">Aktiv
									</label>
								</div>
								<div class="checkbox">
								  <label class="control-label">
										<input type="checkbox" 
											ng-false-value="'0'"
											ng-true-value="'1'"
											name="events_enabled"
											ng-model="edit.events_enabled">Tillad events
									</label>
								</div>
								<div class="checkbox">
								  <label class="control-label">
										<input type="checkbox" 
											ng-false-value="'0'"
											ng-true-value="'1'"
											name="articles_enabled"
											ng-model="edit.articles_enabled">Tillad artikler
									</label>
								</div>
							</div>
				    	<div class="col-md-5">
								<div class="checkbox">
								  <label class="control-label">
										<input type="checkbox" 
											ng-false-value="'0'"
											ng-true-value="'1'"
											name="comments_enabled"
											ng-model="edit.comments_enabled">Kommentarer slået til
									</label>
								</div>
								<div class="checkbox">
								  <label class="control-label">
										<input type="checkbox" 
											ng-false-value="'0'"
											ng-true-value="'1'"
											name="visible_members"
											ng-model="edit.visible_members">Medlemmer offentlige
									</label>
								</div>
				      </div>
						</div>
					</form>
		    </div>
			</div>
		</div>

<!-- sociale links -->
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	        <a bs-collapse-toggle>
						<i class="fa fa-plus text-muted"></i>
						Socialt
	        </a>
	      </h4>
	    </div>
	    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
	      <div class="panel-body">
					<form id="social" role="form" class="form-horizontal" autocomplete="off">

						<div class="col-md-12 no-padding no-margin">
							<button class="btn btn-xs btn-default pull-right"
								ng-click="formSave('#social')"
								ng-class="{ 'btn-primary' : formSaveEnabled('#social') }"
								ng-disabled="!formSaveEnabled('#social')">
								Gem
							</button>
						</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label" for="homepage">Hjemmeside</label>
								<div class="col-md-8">
							    <input class="form-control input-sm" 
										type="text"
										id="homepage"
										select-on-click
										ng-model="edit.homepage" 
										placeholder="Hjemmeside adresse">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label" for="facebook">Facebook</label>
								<div class="col-md-8">
							    <input class="form-control input-sm" 
										type="text"
										id="facebook"
										select-on-click
										ng-model="edit.facebook" 
										placeholder="Facebook url">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label" for="twitter">Twitter</label>
								<div class="col-md-8">
							    <input class="form-control input-sm" 
										type="text"
										id="twitter"
										select-on-click
										ng-model="edit.twitter" 
										placeholder="Twitter konto">
								</div>
							</div>

					    <div class="form-group">
					      <label class="col-md-2 control-label" for="linkedin">LinkedIn</label>
								<div class="col-md-8">
							    <input class="form-control input-sm" 
										type="text"
										id="linkedin"
										select-on-click
										ng-model="edit.linkedin" 
										placeholder="LinkedIn konto">
								</div>
							</div>

						</form>

	      </div>
	    </div>
	  </div>

<!-- group members -->
	  <div ng-if="edit.id > -1" class="panel panel-default">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	        <a bs-collapse-toggle>
						Medlemmer
	        </a>
	      </h4>
	    </div>
	    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
	      <div class="panel-body">
					<table datatable="" 
						ng-enabled="edit.id > -1"
						id="table-gruppe-medlemmer"
						class="table table-striped col-md-12 no-padding no-margin" 
						dt-options="dtOptions" 
						dt-columns="dtColumns"
						dt-instance="dtInstanceCallback">
					</table>
				</div>
			</div>
		</div>

	</div>
		
</div>




