<div>
	<table class="table table-striped">
		<tr ng-repeat="article in articles | orderBy:orderBy | limitTo:limitTo">
			<td class="h5 td-icon">
				<i ng-if="user_id == article.user_id"
					title="Rediger artikel"
					ng-click="onEdit(article.id)"
					class="fa fa-fw fa-pencil fa-x2 text-primary cursor-pointer" >
				</i>
			</td>
			<td class="h5 td-icon">
				<i ng-if="article.draft == 1"
					title="Kladde"
					class="fa fa-fw fa-wrench fa-x2 text-muted">
				</i>
			</td>
			<td class="h5 td-icon">
				<i ng-if="article.published == 1"
					title="Publiseret"
					class="fa fa-fw fa-asterisk fa-x2 text-muted">
				</i>
			</td>
			<td>
				<!-- add some space -->
				&nbsp;&nbsp;
			</td>
			<td class="h5" style="width: 100px;">
				<span title="{{ article.created_timestamp }}">
					{{ article.created_timestamp_calendar | capitalizeFirstLetter }} 
				</span>
			</td>
			<td class="text-right" title="Vist {{ article.counter }} {{ article_counter_suffix }}" style="width: 50px;">
				{{ article.counter }}
			</td>
			<td class="max500">
				<a class="unstyled h4" ng-href="{{ article.url }}" title="Vis artikel">
					{{ article.header }}
				</a>
			</td>
		</tr>
	</table>

</div>
