<table class="table table-hover" id="log-notifications">
	<thead>
		<tr>
			<th>Type</th>
			<th title="Hold musen over tidsangivelsen for at se det nøjagtige timestamp">Hvornår</th>
			<th>Handling</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="n in notifications" xclass="list-group-item list-group-item-sm" title="{{ n.title }}">
			<th> <small> {{ n.type_name }} </small> </td>
			<td title="{{ n.created_timestamp }}" class="cursor-pointer"> {{ n.display_timestamp }} </td>
			<td style="white-space: normal;"> {{ n.userName }} <span ng-bind-html="n.action"></span> </td>
		</tr>
	</tbody>
</table>

