<h1>Forside</h1>

<div class="admin-menu">
	<div ng-include="'views/admin.menu.html'"></div>
</div>

<div class="admin-content" style="width:auto;">
	<h3>Generelt</h3>

	<form role="form" class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-2 no-wrap">
				Cover artikel
			</label>
			<div class="col-md-8">
				<button class="btn btn-sm btn-primary"
					ng-click="selectArtikel()">
					<span ng-if="promoted_article"> {{ promoted_article.header }} </span>
					<span ng-if="!promoted_article">Vælg fremhævet forsideartikel</span>
				</button>
			</div>
		</div>
	</form>

</div>

