<div class="modal ng-scope top am-fade-and-slide-top center col-md-12" tabindex="-1" role="dialog" style="display: block;" id="select-gruppe-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title" ng-bind-html="__modal.title"></h4>
			</div>

			<div class="modal-body no-padding-top">

				<table datatable="" 
					id="table-grupper"
					class="table table-striped col-md-12 no-padding no-margin" 
					dt-options="__modal.dtOptions" 
					dt-columns="__modal.dtColumns"
					dt-instance="__modal.dtInstanceCallback">
				</table>

			</div>
			
			<div class="modal-footer">
				<button type="button" 
					class="btn btn-sm" 
					ng-click="__modalClose(true)" 
					ng-class="{ 'btn-primary' : __modal.canSave() }"
					ng-disabled="!__modal.canSave()">
						{{ __modal.btnOk }}
				</button> 
				<button type="button" 
					class="btn btn-sm btn-default" 
					ng-click="__modalClose(false)" >
						Fortryd
				</button> 
			</div>

		</div>
	</div>
</div>
