<div class="modal ng-scope top am-fade center" tabindex="-1" role="dialog" style="display: block;" id="alert-modal">
	<div class="modal-dialog" style="width: 400px;">
		<div class="modal-content">
			
			<div class="modal-header">
				<h3 class="modal-title pull-left">{{ header }}</h3>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-2">
						<i class="fa fa-info-circle fa-5x text-primary"></i>
					</div>
					<div style="vertical-align: top;" class="col-md-10">
						<h4 ng-bind-html="message"></h4>
					</div>
				</div>
			</div>

			<div class="modal-footer clearfix">
			  <button	class="btn btn-primary" ng-click="closeModal(true)">OK</button>
			</div>

		</div>
	</div>
</div>
