
<div class="col-md-9">
	<div ng-if="action == '' ">		

		<div class="artikel">
			<h4>
				<small>
					<a href="{{ article.userUrlLink }} ">{{ article.userFullName }}</a>,
					uploadet <span title="{{ article.realDate }}">{{ article.dateStamp }}</span>
				</small>
			</h4>
			<h1> {{ article.header }} </h1>
			<h4><em> {{ article.sub_header }} </em></h4>

			<div ng-if="article.image"class="artikel-image">
				<img ng-src="media/artikel/{{ article.image }}">
			</div>

			<div class="artikel-content" ng-bind-html="article.content"></div>

			<div class="col-md-12 clearfix">
				<entity-rating hash="{{ article.hash }}" user-id="{{ user.id }}" class="pull-right"></entity-rating>
			</div>

			<comments hash="{{ article.hash }}" on-comment-added="onCommentAdded"></comments>
		</div>

	</div>
	
	<div ng-if="action == 'a'">
		<h3 class="no-padding no-margin">&nbsp;Rediger</h3>
		<div edit-article="{{ article.id }}"  
			user-id="{{ user.id }}"
			on-save="actionSaved(item)" 
			on-cancel="actionCancel()">
		</div>
	</div>

</div>
	
	
<div class="col-md-3">

	<div ng-if="association" class="text-center">
		<a href="{{ association.url }}" class="unstyled hover-effect">
			<h4> {{ association.name }} </h4>
			<img ng-if="association.image != '' " ng-src="media/forening/thumbs/{{ association.image }}">
		</a>
	</div>


	<div ng-if="user.id == article.user_id">
		<div class="layout-right-header">Handlinger</div>
		<div class="layout-right-header-content">
			<small ng-if="visitCounter != false "
				style="display: inline-block; position: relative; top: -9px;"
				class="pull-right no-padding no-margin">
				<small>Vist {{ visitCounter }} gange</small>
			</small>
			<a class="cursor-pointer"
				ng-class="{ 'disabled': actionDisable('a') }"
				ng-disabled="actionDisable('a')" 
				ng-click="setAction('a')">
				<i class="fa fa-fw fa-wrench fa-x2"></i>
				Rediger artikel<br>
			</a>
			<a class="cursor-pointer"
				ng-class="{ 'disabled': article.published != 1 }"
				ng-disabled="article.published != 1" 
				ng-click="unpublishArticle()">
				<i class="fa fa-fw fa-remove fa-x2 text-danger"></i>
				Træk artikel tilbage (afpubliser)<br>
			</a>
		</div>
	</div>

	<div ng-if="groups != ''">
		<div class="layout-right-header">&nbsp;Grupper
		</div>
		<div class="layout-right-header-content">
			<span ng-repeat="g in groups">
				<a ng-href="/grupper/{{ g.group_id }}/{{ g.urlName }}" debug-link>
					<i class="fa fa-fw fa-x2 fa-users text-muted"></i>
					{{ g.name }}
				</a><br>
			</span>
		</div>
	</div>

	<div ng-if="author_popular_articles != ''">
		<div class="layout-right-header">&nbsp;Populære artikler fra samme bruger
		</div>
		<div class="layout-right-header-content">
			<span ng-repeat="a in author_popular_articles">

				<ng-rate-it 
					max="1"
					title="{{ a.title }}"
					ng-model="a.stars" 
					read-only="true"
					resetable="false">
				</ng-rate-it>

				&nbsp;
				<a ng-href="{{ a.url }}" title="{{ a.header }}">
					{{ a.header }}
				</a><span class="clearfix"></span>
			</span>
		</div>
	</div>



	<div class="layout-right-header">&nbsp;Seneste kommentarer</div>
	<div class="layout-right-header-content" recent-comments="{{ article.hash }}" limit="5"></div>

</div>

</div>


