

<div class="col-md-12" style="background:url('assets/images/Dannebrog_isamsø.jpg');border-radius:5px;max-height:1200px;">

	<h1 class="text-white"><strong><span style="font-size:120%;">V</span>ær dig selv i et fortroligt selskab</strong></h1>

	<h3 class="text-white">
		<strong>indeu.org</strong> giver dig mulighed for at invitere til events, skabe relationer, skrive artikler og deltage i debatten. 
		Uden at blive sat i karantæne. Uden at blive indekseret i Google. Uden at blive kigget over skulderen.
		Vi henvender os til <span class="text-underline">dig</span>, løse netværk, foreninger og fællesskaber.
	</h3>

	<div class="col-md-7">
		<br>
		<h2 class="text-white">
			<span class="margin-bottom-15"><i class="fa fa-fw fa-sitemap"></i>&nbsp;Giv din forening eller netværk et hjem</span>
			<span class="margin-bottom-15"><i class="fa fa-fw fa-users"></i>&nbsp;Opret dine egne grupper</span>
			<span class="margin-bottom-15"><i class="fa fa-fw fa-calendar"></i>&nbsp;Bidrag til kalenderen</span>
			<span class="margin-bottom-15"><i class="fa fa-fw fa-file-code-o"></i>&nbsp;Skriv artikler og kommentarer</span>
		</h2>
	</div>

	<div class="col-md-5">
		<br><br>
		<a href="/det-sker" debug-link class="btn btn-success btn-md pull-right col-md-7">
			<span class="col-md-10 text-left">Se den åbne kalender</span>
			<i class="fa fa-angle-double-right"></i>
		</a>
		<br><br>
		<a href="/forside" debug-link class="btn btn-success btn-md pull-right col-md-7">
			<span class="col-md-10 text-left">Gå til offentlig forside</span>
			<i class="fa fa-angle-double-right"></i>
		</a>
		<br><br><br>
		<a href="/bliv-medlem" debug-link class="btn btn-default btn-md pull-right col-md-7">
			<span class="col-md-10 text-left">Anmod om medlemskab</span>
			<i class="fa fa-angle-double-right"></i>
		</a>
		<br><br><br>
		<a href="/om-indeu-org" debug-link class="btn btn-primary btn-md pull-right col-md-7">
			<span class="col-md-10 text-left">Om indeu.org</span>
			<i class="fa fa-angle-double-right"></i>
		</a>
		<br><br>
		<a href="/formaalsparagraf" debug-link class="btn btn-primary btn-md pull-right col-md-7">
			<span class="col-md-10 text-left">Formålsparagraf</span>
			<i class="fa fa-angle-double-right"></i>
		</a>

	</div>
 	<img src="assets/images/Dannebrog_isamsø.jpg" style="visibility: hidden;max-height:800px;" />
</div>

<div class="col-md-12 no-padding">
	<small class="pull-right">
		Samsø, mindesmærke for Frederik 7 der underskrev Grundloven i 1849. Her står også Genforeningsstenen. <a href="https://commons.wikimedia.org/wiki/File:Dannebrog_isams%C3%B8.jpg" target=_blank>Wikimedia Commons; CC-BY-SA-4.0</a>. 
	</small>
</div>

