	<div class="col-md-8">
		<h1>Bliv medlem</h1>
		<h3>Man skal ansøge om medlemsskab på indeu.org</h3>
		<p>Godkendelse af nye medlemmer er 100% brugerstyret, og findes kun for at forhindre at brodne kar kan få adgang til følsomme data, 
			såsom events i den lukkede kalender.
		</p>

		<ol class="h5">
			<li>Udfyld nedenstående ansøgnings-formular og klik "Send ansøgning"</li>
			<li>Du modtager kort efter en mail, klik på linket i mailen for at bekræfte din email-adresse</li>
			<li>Når du har fået tilstrækkelig mange bruger-stemmer modtager du en bekræftelses-mail</li> 
			<li><em>I opstartsfasen vil medlems-anmodninger blive håndteret administrativt</em></li>
		</ol>

		<br>

		<form role="form" name="form" class="form-horizontal bliv-medlem" autocomplete="off">

	    <div class="form-group">
	      <label class="col-md-2 control-label required" for="firstname">Fornavn</label>
				<div class="col-md-3">
			    <input class="form-control" 
						spellcheck="false"
						select-on-click
						auto-focus
						ng-model="reg.first_name" 
						placeholder="Fornavn">
				</div>
	      <label class="col-md-2 control-label required" for="lastname">Efternavn</label>
				<div class="col-md-4">
			    <input class="form-control" 
						spellcheck="false"
						select-on-click
						ng-model="reg.last_name" 
						placeholder="Efternavn">
				</div>
			</div>

	    <div class="form-group">
	      <label class="col-md-2 control-label required" for="navn">Fulde navn</label>
				<div class="col-md-9">
			    <input class="form-control" 
						type="text"
						spellcheck="false"
						select-on-click
						ng-model="reg.full_name" 
						placeholder="Fornavn, mellemnavne og efternavn">
				</div>
			</div>

	    <div class="form-group">
	      <label class="col-md-2 control-label required" for="email">Email</label>
				<div class="col-md-9">
			    <input class="form-control" 
						id="email"
						spellcheck="false"
						name="email"
						select-on-click
						class="text-danger"
						ng-model="reg.email" 
						ng-class="{ 'red-color': !isValidEmail, 'green-color': isValidEmail }"
						placeholder="Email-adresse">
				</div>
			</div>

	    <div class="form-group">
	      <label class="col-md-2 control-label required" for="adresse">Adresse</label>
				<div class="col-md-9">
			    <input class="form-control" 
						spellcheck="false"
						select-on-click
						adresse-opslag
						adresse-type="adresser"
						adresse-on-select="adresseSelect"
						ng-model="reg.address" 
						placeholder="Adresse">
				</div>
			</div>

	    <div class="form-group">
	      <label class="col-md-2 control-label required" for="postnr">Postnr</label>
				<div class="col-md-2">
			    <input class="form-control" 
						spellcheck="false"
						select-on-click
						only-numbers
						maxlength="4"
						ng-model="reg.postal_code" 
						placeholder="Postnr">
				</div>
	      <label class="col-md-1 control-label required" for="by">By</label>
				<div class="col-md-6">
			    <input class="form-control" 
						spellcheck="false"
						select-on-click
						ng-model="reg.city" 
						placeholder="By">
				</div>
			</div>

	    <div class="form-group no-margin-bottom">
				<div class="col-md-11">
					<hr class="no-margin">
				</div>
			</div>

			<div class="col-md-12 clearfix text-danger">
				{{ error }}
				<br><br>
			</div>

	    <div class="form-group">
	      <label class="col-md-2 control-label" for=""></label>
				<div class="col-md-9">
					<button role="button" 
						class="btn btn-default" 
						ng-click="register()"
						ng-class="{ 'btn-success' : canRegister() }">
						Send ansøgning
					</button>
				</div>
			</div>

		</form>

	</div>
	
	<aside class="col-md-4 no-padding-right" >

		<div class="well well-sm clearfix no-margin">
			<div class="col-md-12">
				<h4>Har du materiale du vil bidrage med?</h4>
			</div>
			<div class="col-md-12" style="padding-right:5px;">
				<span class="h1 no-padding no-margin pull-left" style="margin:-4px !important; padding-right:11px !important;padding-left:5px !important;">
					<i class="fa fa-envelope-o text-primary"></i>
				</span>
				<p style="line-height:131%;">
					Selvom du ikke er medlem kan du godt annoncere for dine events her på sitet. 
					<br>Skriv til <a href="mailto:events@indeu.org"><strong>events@indeu.org</strong></a>
					<br><br>
					Det er også muligt at få publiceret artikler. Skriv til <a href="mailto:artikler@indeu.org"><strong>artikler@indeu.org</strong></a>
				</p>
			</div>
		</div>

	</aside>


<div class="col-md-12 clearfix">
	<br><br>
</div>
