<div class="col-md-9">
	<div ng-if="action == '' ">		

		<h4>
			<small>
				Oprettet af <user-signature id="{{ event.user_id }}"></user-signature>,
				<span title="{{ event.realDate }}">{{ event.dateStamp }}</span><span ng-if="event.edited_timestamp_display" title="{{ event.edited_timestamp }}">, redigeret {{ event.edited_timestamp_display }}</span>
			</small>
		</h4>

		<div ng-if="event.cancelled == 1"	class="alert alert-danger">
			<h3 class="no-padding no-margin"><strong>Bemærk</strong>: Eventen er blevet aflyst!</h3>
		</div>

		<h1> {{ event.name }} </h1>
		<div class="col-md-8">
			<div class="well well-lg">
				<h3 class="no-margin">
					Hvornår: <strong class="text-primary">{{ event.showDate }} </strong> 
				</h3>
				<h4 class="no-margin">
					Fra kl. <strong class="text-primary">{{ event.from | date : "HH:mm" }}</strong>
					<span ng-if="event.to != null">
						til kl. <strong class="text-primary">{{ event.to | date : "HH:mm" }} </strong>
					</span>
				</h4>
				<h3 ng-if="event.place_name != null" class="no-margin" style="padding-top:15px;">
					Hvor: <strong class="text-primary">{{ event.place_name }}</strong> 
				</h3>
				<h3 class="no-margin" style="padding-top:15px;">
					Adresse: <strong class="text-primary">{{ event.address }}</strong> 
				</h3>
			</div>
			<div class="artikel-content" ng-bind-html="event.about"></div>

		</div>
		<div class="col-md-4 no-padding">
			<div ng-if="event.image_url != undefined">
				<img ng-src="{{ event.image_url }}" class="cursor-pointer" inject-fancyboxable>
				<br><br>
			</div>
			<leaflet class="event-leaflet-map"
				center="eventMap.center" 
				defaults="eventMap.defaults" 
				layers="eventMap.layers" 
				markers="eventMap.markers" 
				events="eventMap.events">
			</leaflet>
		</div>

		<div class="col-md-12 clearfix">
			<br>
			<entity-rating hash="{{ event.hash }}" user-id="{{ user.id }}" is-self="user.id == event.user_id" class="pull-right"></entity-rating>
			<br><br>
		</div>

		<div class="col-md-12" ng-if="user && dateDue == false && event.cancelled != 1">
			<span>Hvad vil du?&nbsp;&nbsp;</span>
			<div class="btn-group" ng-model="feedback.feedback" bs-radio-group>
			  <label class="btn btn-default btn-sm" 
					ng-class="{ 'btn-danger' : feedback.feedback == 0 }"
					ng-click="setFeedback(0)">
					<input type="radio" class="btn btn-default" value="0" > Deltager ikke
				</label>
			  <label class="btn btn-default btn-sm" 
					ng-class="{ 'btn-primary' : feedback.feedback == 1 }"
					ng-click="setFeedback(1)">
					<input type="radio" class="btn btn-default" value="1"> Deltager måske
				</label>
			  <label class="btn btn-default btn-sm" 
					ng-class="{ 'btn-success' : feedback.feedback == 2 }"
					ng-click="setFeedback(2)">
					<input type="radio" class="btn btn-default" value="2"> Jeg deltager
				</label>		
			</div>
		</div>

		<div class="col-md-12" ng-if="dateDue == true">
			<br>
			<div class="alert alert-danger" role="alert">Eventen er allerede blev afholdt. Tilmelding / framelding ikke længere mulig</div>
		</div>
	</div>

	<div ng-if="action == 'e'">
		<h4>
			<small>
				Oprettet af <a href="{{ event.userUrl }} ">{{ event.userFullName }}</a>,
				<span title="{{ event.realDate }}">{{ event.dateStamp }}</span><span ng-if="event.edited_timestamp_display" title="{{ event.edited_timestamp }}">, redigeret {{ event.edited_timestamp_display }}</span>
			</small>
		</h4>
		<h1> {{ event.name }}	</h1>
		<div edit-event="{{ event.id }}"  
			user-id="{{ user.id }}"
			on-save="actionSaved(item)" 
			on-cancel="actionCancel()">
		</div>
	</div>

	<div ng-if="action == 'l'">
		<h4>
			<small>
				Oprettet af <a href="{{ event.userUrl }} ">{{ event.userFullName }}</a>,
				<span title="{{ event.realDate }}">{{ event.dateStamp }}</span><span ng-if="event.edited_timestamp_display" title="{{ event.edited_timestamp }}">, redigeret {{ event.edited_timestamp_display }}</span>
			</small>
		</h4>
		<h1> 
			{{ event.name }} - Log
			<button class="btn btn-primary btn-sm pull-right" ng-click="setAction('')">
				<i class="fa fa-angle-right fa-fw"></i>
				Tilbage
			</button>
		</h1>
		<log-notifications ng-if="event.isOwner" hash="{{ event.hash }}"></log-notifications>
	</div>

	<comments hash="{{ event.hash }}" user-id="{{ user.id }}"></comments>

</div>
	
<aside class="col-md-3">

	<div ng-if="!event.isOwner">
		<div xxclass="layout-right-header-content">
			<div class="well well-sm clearfix no-margin">
				<div class="col-md-12">
					<h4>Mangler der en event?</h4>
				</div>
				<div class="col-md-12" style="padding-right:5px;">
					<span class="h1 no-padding no-margin pull-left" style="margin:-4px !important; padding-right:11px !important;padding-left:5px !important;">
						<i class="fa fa-envelope-o text-primary"></i>
					</span>
					<p style="line-height:131%;">
						Kender du til en relevant event? 
						Selvom du ikke er medlem, kan du godt få listet dine events her på siden. 
						Skriv til <a href="mailto:events@indeu.org"><strong>events@indeu.org</strong></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="event.isOwner">
		<div class="layout-right-header">Handlinger</div>
		<div class="layout-right-header-content">
			<a href="" 
				ng-class="{ 'disabled': actionDisable('e') }"
				ng-disabled="actionDisable('e')" 
				ng-click="setAction('e')">
				<i class="fa fa-fw fa-wrench fa-x2"></i>
				Rediger event<br>
			</a>
			<a href="" 
				ng-class="{ 'disabled': actionDisable('l') }"
				ng-disabled="actionDisable('l')" 
				ng-click="setAction('l')">
				<i class="fa fa-fw fa-cog fa-x2"></i>
				Se eventens log<br>
			</a>
			<a href="" 
				ng-class="{ 'disabled': actionDisable('s') }"
				ng-disabled="actionDisable('s')" 
				ng-click="deleteEvent()">
				<i class="fa fa-fw fa-times fa-x2 text-danger"></i>
				Slet event<br>
			</a>
		</div>
	</div>

	<div ng-if="!event.isOwner">
		<div class="layout-right-header">Oprettet af</div>
		<div class="layout-right-header-content">
			<a ng-href="{{ event.userUrl }}">{{ event.userFullName }}</a>
		</div>
	</div>

	<div class="layout-right-header">Kontakt</div>
	<div class="layout-right-header-content">
		<span ng-repeat="cp in event_contactpersons">
			<a ng-href="{{ cp.url }}">{{ cp.user.full_name }}</a><br>			
		</span>
		<span ng-if="event_contactpersons == undefined">Der er ikke tilknyttet nogle kontaktpersoner</span>
	</div>

	<div class="layout-right-header">Grupper</div>
	<div class="layout-right-header-content">
		<span ng-repeat="g in event_groups">
			<a ng-href="{{ g.url }}">{{ g.group.name }}</a><br>
		</span>
		<span ng-if="event_groups == undefined">Eventen er ikke knyttet til nogle grupper</span>
	</div>

	<div class="layout-right-header">Deltagere</div>
	<div class="layout-right-header-content">
		<div event-participants="{{ event.id }}"></div>
	</div>

</aside>

<div class="col-md-12 clearfix">
	<br><br>
</div>


