
<footer class="footer-bs" ng-if="!isBlank()">
	<div class="row">
		<div class="col-md-3 footer-brand animated fadeInLeft">
			<h2>indeu.org</h2>
			<p>
				Indigenous Europe
			</p>
			<p>
				<i class="fa fa-copyright"></i>&nbsp;2018 indeu.org<br>
			</p>
		</div>
		<div class="col-md-4 footer-nav animated fadeInUp">
			<h4>Kort</h4>
			Kort beskrivelse, reduceret formålsparagraf o.lign
		</div>
		<div class="col-md-3 footer-nav footer-social animated fadeInDown">
			<h4>Kontakt</h4>
			<ul>
				<li><i class="fa fa-envelope fa-fw"></i>&nbsp;&nbsp;<a href="mailto:info@indeu.org">info@indeu.org</a></li>
				<li><i class="fa fa-calendar fa-fw"></i>&nbsp;&nbsp;<a href="mailto:events@indeu.org">events@indeu.org</a></li>
				<li><i class="fa fa-file-text-o fa-fw"></i>&nbsp;&nbsp;<a href="mailto:artikler@indeu.org">artikler@indeu.org</a></li>
			</ul>
		</div>
		<div class="col-md-2 footer-nav animated fadeInUp">
				<h4>Links</h4>
				<ul class="list">
					<li><a href="/bliv-medlem" debug-link>Bliv medlem</a></li>
					<li><a href="/" debug-link>Om indeu.org</a></li>
					<li><a href="/" debug-link>Kontakt</a></li>
				</ul>
		</div>
	</div>
</footer>

