<div class="col-md-9">

	<h1>{{ forening.name }}	
		<small ng-if="action_caption" style="position:relative;top:-2px;"><small>&mdash;</small> {{ action_caption }}</small>
	</h1>

	<div ng-if="action == '' ">		

		<div class="col-md-12 no-padding">
			<auto-image ng-if="forening.image != ''" src="{{ forening.image_url }}"></auto-image>
			<div ng-bind-html="forening.about"></div>
		</div>

		<div class="clearfix col-md-12">&nbsp;</div>

		<div class="layout-right-header">Artikler
			<button type="button" 
				class="btn btn-xs btn-default pull-right" 
				ng-model="articles.limitTo" 
				data-toggle="true"
				placeholder="Antal"
				bs-select
				bs-options="sort.id as sort.navn for sort in limitToItems">
			  <span class="caret"></span>
			</button>
			<button type="button" 
				class="btn btn-xs btn-default pull-right" 
				ng-model="articles.orderBy" 
				data-toggle="true"
				placeholder="Sorter"
				bs-select
				bs-options="sort.id as sort.navn for sort in articleOrderByItems">
			  <span class="caret"></span>
			</button>
		</div>
		<articles-box-list articles="{{ articles.articles }}" order-by="{{ articles.orderBy }}" limit-to="{{ articles.limitTo }}"></articles-box-list>

		<div class="layout-right-header">Events
			<button type="button" 
				class="btn btn-xs btn-default pull-right" 
				ng-model="events.limitTo" 
				data-toggle="true"
				placeholder="Antal"
				bs-select
				bs-options="sort.id as sort.navn for sort in limitToItems">
			  <span class="caret"></span>
			</button>
			<button type="button" 
				class="btn btn-xs btn-default pull-right" 
				ng-model="events.orderBy" 
				data-toggle="true"
				placeholder="Sorter"
				bs-select
				bs-options="sort.id as sort.navn for sort in eventOrderByItems">
			  <span class="caret"></span>
			</button>
		</div>
		<events-box-list events="{{ events.events }}" order-by="{{ events.orderBy }}" limit-to="{{ events.limitTo }}"></events-box-list>

	</div>


<!-- edit event --->
	<div ng-if="action == 'e'">
		<div edit-event="{{ edit_event_id }}"  
			user-id="{{ user.id }}"
			association-id="{{ forening.id }}"
			on-save="actionSaved(item)" 
			on-cancel="actionCancel()">
		</div>
	</div>

	<comments ng-if="forening.comments_enabled == 1" hash="{{ forening.hash }}" user-id="{{ user.id }}"></comments>

</div>
	
<div class="col-md-3">

	<div ng-if="userIsMember">	
		<div class="layout-right-header">Handlinger</div>
		<div class="layout-right-header-content">
			<a href="" 
				class="disabled"
				ng-disabled="true">
				<i class="fa fa-fw fa-wrench fa-x2"></i>
				Rediger foreningsinfo<br>
			</a>
			<a href="" 
				ng-class="{ 'disabled': actionDisable('a') }"
				ng-disabled="actionDisable('a')"
				ng-click="editArticle()">
				<i class="fa fa-fw fa-file-text-o fa-x2"></i>
				Skriv artikel
				<span ng-if="edit_article_id != undefined ">Rediger artikel</span>
				<br>
			</a>
			<a ng-if="user.id == event.user_id"
				href="" 
				ng-class="{ 'disabled': actionDisable('e') }"
				ng-disabled="actionDisable('e')" 
				ng-click="setAction('e')">
				<i class="fa fa-fw fa-wrench fa-x2"></i>
				Rediger event<br>
			</a>
			<a href="" 
				ng-class="{ 'disabled': actionDisable('e') }"
				ng-disabled="actionDisable('n')" 
				ng-click="setAction('e')">
				<i class="fa fa-fw fa-calendar fa-x2"></i>
				Opret en event
			</a>
		</div>
	</div>

	<div ng-if="hasAddress == true || forening.email">
		<div class="layout-right-header">Kontakt</div>
		<div class="layout-right-header-content line-height-125">
			<span ng-if="forening.email"><a ng-href="mailto:{{ forening.email }}">{{ forening.email }}</a><br></span>
			<span ng-if="address.co">c/o {{ address.co }}<br></span>
			<span ng-if="address.address">{{ address.address }}</span><span ng-if="address.country">, {{ address.country }}<br></span>
			<br ng-if="!address.country">
			<span ng-if="address.phone1"><i class="fa fa-phone fa-fw"></i>{{ address.phone1 }}</span><span ng-if="address.phone2"> / {{ address.phone2 }}</span>
		</div>
	</div>

	<div ng-if="hasSocialMedia == true">
		<div class="layout-right-header">Hjemmeside og sociale medier</div>
		<div class="layout-right-header-content">
			<social-media-links record="{{ socialMediaLinks }}"></social-media-links>
		</div>
	</div>

	<div ng-if="forening.mobilepay || forening.bank_account">
		<div class="layout-right-header">Støt foreningen</div>
		<div class="layout-right-header-content">
			<span ng-ig="forening.mobile_pay">
				<img src="assets/mobilepay/MP_RGB_NoTM_Logo+Type Horisontal Blue_fixed.png" style="width: 110px;">
				<span class="h4 no-word-wrap">{{ forening.mobilepay }}</span><br>
			</span>
			<span ng-if="forening.bank_account">
				<pre>{{ forening.bank_account }} </pre>
			</span>
		</div>
	</div>
	
	<div class="layout-right-header">Administrator</div>
	<div class="layout-right-header-content">
		<user-signature id="{{ forening.owner_id }}"></user-signature>
	</div>

	<div class="layout-right-header">Grupper</div>
	<div class="layout-right-header-content">
		<span ng-repeat="g in event_groups">
			<a ng-href="/grupper/{{ g.group_id }}/{{ g.urlName }}" debug-link>{{ g.name }}</a><br>
		</span>
	</div>

	<div class="layout-right-header">Følgere / medlemmer</div>
	<div class="layout-right-header-content">
		<div event-participants="{{ event.id }}"></div>
	</div>

</div>

<div class="col-md-12 clearfix">
	<br><br>
</div>


