<div class="col-md-9">
	<div ng-if="action == '' ">		

			<h1>
				{{ forening.name }} 
			</h1>

			<div class="col-md-12">
				<img ng-if="forening.image != ''" 
					class="pull-left" 
					src="media/forening/thumbs/{{ forening.image }}" 
					style="padding-right:10px;"
					title="{{ forening.name }}">
				<p ng-bind-html="forening.about"></p>
			</div>

	</div>

	<div ng-if="action == 'e'">
		<h3 class="no-padding no-margin">&nbsp;Rediger</h3>
		<div edit-event="{{ event.id }}"  
			user-id="{{ user.id }}"
			on-save="actionSaved(item)" 
			on-cancel="actionCancel()">
		</div>
	</div>

	<log-notifications hash="{{ event.hash }}"></log-notifications>

	<comments hash="{{ event.hash }}" user-id="{{ user.id }}"></comments>

</div>
	
<div class="col-md-3">
	<div class="layout-right-header">Handlinger</div>
	<div class="layout-right-header-content">
		<a ng-if="user.id == event.user_id"
			href="" 
			ng-class="{ 'disabled': actionDisable('e') }"
			ng-disabled="actionDisable('e')" 
			ng-click="setAction('e')">
			<i class="fa fa-fw fa-wrench fa-x2"></i>
			Rediger event<br>
		</a>
		<a href="" 
			ng-class="{ 'disabled': actionDisable('e') }"
			ng-disabled="actionDisable('n')" 
			ng-click="setAction('n')">
			<i class="fa fa-fw fa-calendar fa-x2"></i>
			Ny event
		</a>
	</div>

	<div ng-if="user.id != event.user_id">
		<div class="layout-right-header">Oprettet af</div>
		<div class="layout-right-header-content">
			<a ng-href="/medlemmer/{{ event_user.id }}/{{ event_user.urlName }}" debug-link>{{ event_user.full_name }}</a>
		</div>
	</div>

	<div class="layout-right-header">Kontakt</div>
	<div class="layout-right-header-content">
		<span ng-repeat="cp in event_contactpersons">
			<a ng-href="/medlemmer/{{ cp.user.id }}/{{ cp.user.urlName }}" debug-link>{{ cp.user.full_name }}</a><br>
		</span>
	</div>

	<div class="layout-right-header">Grupper</div>
	<div class="layout-right-header-content">
		<span ng-repeat="g in event_groups">
			<a ng-href="/grupper/{{ g.group_id }}/{{ g.urlName }}" debug-link>{{ g.name }}</a><br>
		</span>
	</div>

	<div class="layout-right-header">Deltagere</div>
	<div class="layout-right-header-content">
		<div event-participants="{{ event.id }}"></div>
	</div>

</div>

<div class="col-md-12 clearfix">
	<br><br>
</div>


