<div class="col-md-9">
	<div ng-if="action == '' ">		

			<h1>
				{{ forening.name }} 
			</h1>

			<div class="col-md-12">
				<img ng-if="forening.image != ''" 
					class="pull-left" 
					ng-src="media/forening/thumbs/{{ forening.image }}" 
					style="padding-right:10px;"
					title="{{ forening.name }}">
				<p ng-bind-html="forening.about" read-more></p>
			</div>

	</div>

	<div ng-if="action == 'e'">
		<h3 class="no-padding no-margin">&nbsp;Rediger</h3>
		<div edit-event="{{ event.id }}"  
			user-id="{{ user.id }}"
			on-save="actionSaved(item)" 
			on-cancel="actionCancel()">
		</div>
	</div>

	<log-notifications hash="{{ event.hash }}"></log-notifications>

	<comments hash="{{ event.hash }}" user-id="{{ user.id }}"></comments>

</div>
	
<div class="col-md-3">
	<div class="layout-right-header">Handlinger</div>
	<div class="layout-right-header-content">
		<a href="" 
			ng-class="{ 'disabled': actionDisable('p') }"
			ng-disabled="actionDisable('p')"
			ng-click="setAction('p')">
			<i class="fa fa-fw fa-wrench fa-x2"></i>
			Rediger foreningsinfo<br>
		</a>
		<a href="" 
			ng-class="{ 'disabled': actionDisable('a') }"
			ng-disabled="actionDisable('a')"
			ng-click="setAction('a')">
			<i class="fa fa-fw fa-file-code-o fa-x2"></i>
			Skriv artikel
			<span ng-if="edit_article_id != undefined ">Rediger artikel</span>
			<br>
		</a>
		<a ng-if="user.id == event.user_id"
			href="" 
			ng-class="{ 'disabled': actionDisable('e') }"
			ng-disabled="actionDisable('e')" 
			ng-click="setAction('e')">
			<i class="fa fa-fw fa-wrench fa-x2"></i>
			Rediger event<br>
		</a>
		<a href="" 
			ng-class="{ 'disabled': actionDisable('e') }"
			ng-disabled="actionDisable('n')" 
			ng-click="setAction('n')">
			<i class="fa fa-fw fa-calendar fa-x2"></i>
			Opret en event
		</a>
	</div>

	<div ng-if="hasAddress == true">
		<div class="layout-right-header">Adresse</div>
		<div class="layout-right-header-content">
			<span ng-if="address.address">{{ address.address }}<br></span>
			<span ng-if="address.postal_code">{{ address.postal_code }} {{ address.city }}<br></span>
			<span ng-if="address.municiplality">{{ address.municipality }}<br></span>
			<span ng-if="address.region">{{ address.region }}<br></span>
			<span ng-if="address.country">{{ address.country }}</span>
		</div>
	</div>

	<div class="layout-right-header">Administrator</div>
	<div class="layout-right-header-content">
		<a ng-href="{{ forening.admin.url }}">{{ forening.admin.full_name }}</a>
	</div>

	<div class="layout-right-header">Grupper</div>
	<div class="layout-right-header-content">
		<span ng-repeat="g in event_groups">
			<a ng-href="/grupper/{{ g.group_id }}/{{ g.urlName }}" debug-link>{{ g.name }}</a><br>
		</span>
	</div>

	<div class="layout-right-header">Deltagere</div>
	<div class="layout-right-header-content">
		<div event-participants="{{ event.id }}"></div>
	</div>

</div>

<div class="col-md-12 clearfix">
	<br><br>
</div>


