<div class="col-md-6">
	<a ng-href="{{ promo.url }}"
		class="frontpage-promo cursor-pointer unstyled hover-effect" 
		ng-style="getBackgroundStyle()">

		<p class="h1" ng-bind-html="promo.header"></p>

		<p class="h4" ng-bind-html="promo.extract"></p>

<!--
		<h2>{{ article.header }}</h2>

		<div ng-if="article.sub_header" class="frontpage-manchet">
			<h3 class="no-margin"><em>{{ article.sub_header }}</em></h3>
		</div>

		<div class="frontpage-image">
			<img ng-if="article.image" ng-src="media/artikel/{{ article.image }}">
		</div>
		<div class="frontpage-content" ng-bind-html="article.html"></div>
-->
	</a>
</div>
	
<div class="col-md-3">
	<div class="layout-right-header">Nye Artikler</div>
	<div class="layout-right-header-content" recent-articles></div>

</div>

<div class="col-md-3">
	<div class="layout-right-header">Kommende 30 dage</div>
	<div class="layout-right-header-content" upcoming-events></div>

</div>



