<div class="col-md-6">
	<a ng-href="{{ promo.url }}"
		class="frontpage-promo cursor-pointer unstyled hover-effect col-md-12 no-padding" 
		ng-style="getBackgroundStyle()">

		<p class="h1" ng-bind-html="promo.header"></p>
		<br><br><br>
		<p ng-if="promo.extract != '' " class="h3" ng-bind-html="promo.extract"></p>

	</a>
</div>
	
<div class="col-md-3 no-padding-left">
	<a ng-if="sub_promos[0].url"
		ng-href="{{ sub_promos[0].url }}"
		class="frontpage-promo-medium cursor-pointer unstyled hover-effect col-md-12 no-padding" 
		ng-style="sub_promos[0].image_style">
		<p class="h3 no-padding-left">
			{{ sub_promos[0].header | limitTo: 80 }}{{sub_promos[0].header.length > 80 ? '&hellip;' : ''}}
		</p>
		<!--
		<p class="h5 no-padding-left">{{ sub_promos[0].extract | limitTo: 90 }}{{sub_promos[0].extract.length > 90 ? '&hellip;' : ''}}</p>
		-->
	</a>
	<a ng-if="sub_promos[1].url"
		ng-href="{{ sub_promos[1].url }}"
		class="frontpage-promo-medium cursor-pointer unstyled hover-effect col-md-12 no-padding promo-margin-top" 
		ng-style="sub_promos[1].image_style">
		<p class="h3 no-padding-left">{{ sub_promos[1].header | limitTo: 40 }}{{sub_promos[1].header.length > 40 ? '&hellip;' : ''}}</p>
<!--
		<p class="h5 no-padding-left">{{ sub_promos[1].extract | limitTo: 90 }}{{sub_promos[1].extract.length > 90 ? '&hellip;' : ''}}</p>
-->
	</a>
</div>

<div class="col-md-3 no-padding-left">
	<div class="layout-right-header no-margin">Kommende 30 dage</div>
	<div class="layout-right-header-content" upcoming-events></div>

	<div class="layout-right-header">Nye Artikler</div>
	<div class="layout-right-header-content" recent-articles></div>

</div>

<div class="col-md-12 clearfix">
	<div ng-repeat="p in sub_promos" 
		class="col-md-4 no-padding-left" 
		ng-class="{ 'no-padding-right': $index == 4 || $index == 7 }"
		ng-if="$index>1 && p.url != '' ">
	<a ng-if="p.url"
		ng-href="{{ p.url }}"
		class="frontpage-promo-medium cursor-pointer unstyled hover-effect col-md-12 no-padding promo-margin-top" 
		ng-style="p.image_style">
		<p class="h3 no-padding-left">{{ p.header | limitTo: 70 }}{{p.header.length > 70 ? '&hellip;' : ''}}</p>
<!--
		<p class="h5 no-padding-left">{{ p.extract | limitTo: 90 }}{{p.extract.length > 90 ? '&hellip;' : ''}}</p>
-->
	</a>

	</div>
</div>


