
<div class="col-md-9">
<!-- info -->
	<div ng-if="action == ''">
		<div class="medlem-image" ng-class="{ 'medlem-image-missing' : group.image == '' }">
			<i ng-if="group.image == '' " class="fa fa-users medlem-default-image"></i>
			<img ng-if="group.image != '' " ng-src="../media/gruppe/{{ group.image }}" fancyboxable="{centerOnScroll:true,margin:20}">
		</div>

		<div class="medlem-info">
			<h1>{{ group.name }} </h1>
			<span ng-bind-html="group.about"></span>
		</div>

		<div class="clearfix col-md-12">&nbsp;</div>

		<div ng-if="group.articles_enabled">
			<div class="layout-right-header">Artikler
				<button type="button" 
					class="btn btn-xs btn-default pull-right" 
					ng-model="articles.limitTo" 
					data-toggle="true"
					placeholder="Antal"
					bs-select
					bs-options="sort.id as sort.navn for sort in limitToItems">
				  <span class="caret"></span>
				</button>
				<button type="button" 
					class="btn btn-xs btn-default pull-right" 
					ng-model="articles.orderBy" 
					data-toggle="true"
					placeholder="Sorter"
					bs-select
					bs-options="sort.id as sort.navn for sort in articleOrderByItems">
				  <span class="caret"></span>
				</button>
			</div>
			<articles-box-list articles="{{ articles.articles }}" order-by="{{ articles.orderBy }}" limit-to="{{ articles.limitTo }}"></articles-box-list>
		</div>

		<div ng-if="group.events_enabled">
			<div class="layout-right-header">Events
				<button type="button" 
					class="btn btn-xs btn-default pull-right" 
					ng-model="events.limitTo" 
					data-toggle="true"
					placeholder="Antal"
					bs-select
					bs-options="sort.id as sort.navn for sort in limitToItems">
				  <span class="caret"></span>
				</button>
				<button type="button" 
					class="btn btn-xs btn-default pull-right" 
					ng-model="events.orderBy" 
					data-toggle="true"
					placeholder="Sorter"
					bs-select
					bs-options="sort.id as sort.navn for sort in eventOrderByItems">
				  <span class="caret"></span>
				</button>
			</div>
			<events-box-list events="{{ events.events }}" order-by="{{ events.orderBy }}" limit-to="{{ events.limitTo }}"></events-box-list>
		</div>
	
		<comments ng-if="group.comments_enabled == true" hash="{{ group.hash }}" on-comment-added="onCommentAdded"></comments>

	</div>

<!-- edit group -->
	<div ng-if="action == 'g'">
		<div edit-gruppe="{{ group.id }}"  
			on-save="onGroupSave()" 
			on-cancel="onActionCancel()">
		</div>
	</div>

<!-- event -->
	<div ng-if="action == 'e'">
		<h1>{{ group.name }} </h1>
		<h3>Opret ny event</h3>
		<div edit-event="{{ edit_event_id }}"  
			group-id="{{ group.id }}"
			user-id="{{ user.id }}"
			on-save="onEventSave()" 
			on-cancel="onActionCancel()">
		</div>
	</div>

<!-- article -->
	<div ng-if="action == 'a'">
		<h1>{{ group.name }} </h1>
		<h3 class="no-padding no-margin">&nbsp;Skriv ny artikel</h3>
		<div edit-article="{{ edit_article_id }}"  
			user-id="{{ user.id }}"
			group-id="{{ group.id }}"
			on-save="onArticleSave()" 
			on-cancel="onActionCancel()">
		</div>
	</div>

<!-- new group -->
	<div ng-if="action == 'n'">
		<div edit-gruppe=""  
			on-save="onEventSave()" 
			on-cancel="onActionCancel()">
		</div>
	</div>

	<div class="clearfix">
		<br><br><br><br><br>
	</div>

</div>

<aside class="col-md-3">

	<small class="layout-right-header-content">
		{{ group.visibility_status }}
		{{ group.access_status }}
	</small>

	<div ng-if="user">

		<div ng-if="!userIsMember && !userIsOwner">
			<button role="button"
				ng-click="followRequest()"
				title="Følg denne gruppe. Er gruppen lukket skal du godkendes først."
				class="btn btn-xs btn-primary">
				<i class="fa fa-user-plus"></i> 
				{{ btn_follow_caption }}&nbsp;
			</button>
			<div class="col-md-12 clearfix">&nbsp;</div>
		</div>

		<div class="layout-right-header">Handlinger</div>
		<div class="layout-right-header-content">
			<a ng-if="userIsOwner" 
				title="Rediger gruppens indstillinger"
				ng-class="{ 'disabled': actionDisable('g') }"
				ng-disabled="actionDisable('g')" 
				ng-click="setAction('g')"
				href="">
				<i class="fa fa-fw fa-wrench fa-x2"></i>Rediger gruppe<br>
			</a>

			<a ng-if="group.articles_enabled && (userIsOwner || userIsMember)"
				title="Opret en ny artikel og knyt den til gruppen"
				ng-class="{ 'disabled': actionDisable('a') }"
				ng-disabled="actionDisable('a')" 
				ng-click="setAction('a')"
				href="">
				<i class="fa fa-fw fa-file-text-o fa-x2"></i>Skriv en ny artikel<br>
			</a>

			<a ng-if="group.events_enabled && (userIsOwner || userIsMember)"
				title="Opret en ny event og knyt den til gruppen"
				ng-class="{ 'disabled': actionDisable('e') }"
				ng-disabled="actionDisable('e')" 
				ng-click="setAction('e')"
				href="">
				<i class="fa fa-fw fa-calendar fa-x2"></i>Opret en ny event<br>
			</a>

			<a ng-if="userIsMember && !userIsOwner" href="" ng-click="unFollow()">
				<i class="fa fa-fw fa-remove fa-x2 text-danger"></i>Følg ikke længere<br>
			</a>

			<a href="" 
				title="Opret en helt ny gruppe"
				ng-class="{ 'disabled': actionDisable('n') }"
				ng-disabled="actionDisable('n')" 
				ng-click="setAction('n')">
				<i class="fa fa-fw fa-users fa-x2"></i>Opret en anden gruppe<br>
			</a>
		</div>
	</div>


	<div class="layout-right-header">Gruppeejer</div>
	<div class="layout-right-header-content">
		<a ng-href="{{ group.owner_url }}">{{ group.owner_full_name }}</a>
	</div>

	<div ng-if="group.visible_social">
		<div class="layout-right-header">Socialt</div>
		<div class="layout-right-header-content" social-links="{{ group }}"></div>
	</div>

	<div class="layout-right-header">Medlemmer</div>
	<div class="layout-right-header-content">
		<span ng-repeat="user in group_users">
			<a ng-href="{{ user.url }}" class="pull-left">{{ user.full_name }}</a>
			<span ng-if="!$last" class="pull-left">,&nbsp;</span>				
		</span>
	</div>

</aside>

<div class="col-md-12 clearfix">
	<br><br><br>
</div>

