<div>
	<table class="table table-striped" id="entity-event-directive">
		<tr ng-repeat="event in events | orderBy:'dateInt':true | filter:filterEvent ">
			<td class="h5">
				&nbsp;&nbsp;
				<i ng-if="user_id == event.user_id"
					title="Rediger event"
					ng-click="onEdit(event.id)"
					class="fa fa-fw fa-wrench fa-x2 text-primary cursor-pointer" >
				</i>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{{ event.date | date:"dd MMM yyyy" }}, 
				<span ng-if="event.from != '' ">{{ event.from }}</span>
				<span ng-if="event.to != '' ">-{{ event.to }}</span>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="unstyled h4" ng-href="/event/{{ event.id }}/{{ event.urlName }}" debug-link style="overflow: hidden;">
					{{ event.name }}
				</a>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="unstyled h4" ng-href="/event/{{ event.id }}/{{ event.urlName }}" debug-link style="overflow: hidden;">
					{{ event.city }}
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="background-color: #fff !important;">
				<small class="pull-right">
					<a ng-if="allEvents" href="" ng-click="setEventFilter(false)">
						Vis færre&nbsp;<i class="fa fa-level-up"></i>
					</a>
					<a ng-if="!allEvents" href="" ng-click="setEventFilter(true)">
						Vis alle&nbsp;<i class="fa fa-level-down"></i>
					</a>
				</small>
			</td>
		</tr>
	</table>

</div>
