<div>
		<div ng-repeat="group in groups">
			<a ng-href="/grupper/{{ group.id }}/{{ group.urlName }}" class="unstyled" title="{{ group.urlTitle }}" debug-link>
				<span class="medlem-gruppe">
					<span class="medlem-gruppe-logo">
						<i ng-if="group.image == ''" class="fa fa-users"></i>
						<img ng-if="group.image != ''" class="img-circle" ng-src="media/gruppe/{{ group.image }}" auto-zoom="h,40"></i>
					</span>
					{{ group.name }}
					<i ng-if="group.is_owner"
						class="fa fa-hand-paper-o medlem-gruppe-owner-icon text-primary" 
						title="{{ group.owner_title }}">
					</i>
				</span>
			</a>
		</div>
</div>
