<div class="container-fluid">

	<div class="col-md-8">
		<div ui-calendar="uiConfig.calendar" class="calendar" ng-model="events" calendar="calendar"></div> 
	</div>
	
	<div class="col-md-4 no-padding">

		<div class="well well-sm">
			<span ng-if="!isLoggedIn">Dette er den åbne kalender. Kun events markeret som offentlige er synlige her.</span>
			<span ng-if="isLoggedIn">Alle events du har adgang til at se. </span>
			<span ng-if="isLoggedIn">Klik på markerne eller på selve dagen for at se detaljer. </span>
		</div>

		<leaflet class="event-leaflet-map"
			height="300"
			center="eventMap.center" 
			defaults="eventMap.defaults" 
			layers="eventMap.layers" 
			markers="eventMap.markers" 
			events="eventMap.events">
		</leaflet>
	</div>

</div>
