
<div class="col-md-9">

	<div class="medlem-image">
		<i ng-if="user.image == ''" class="fa fa-user medlem-default-image"></i>
		<img ng-if="user.image != ''" ng-src="../media/medlem/{{ user.image }}" fancyboxable="{centerOnScroll:true,margin:20}">
	</div>

	<div class="medlem-info">
		<h1>{{ user.first_name }} {{ user.last_name }} </h1>
		<span ng-bind-html="user.about"></span>
	</div>

	<div class="col-md-12 clearfix">&nbsp;</div>

	<div class="layout-right-header">Artikler</div>
	<articles-box-list articles="{{ articles.articles }}"></articles-box-list>

	<div class="col-md-12 clearfix">&nbsp;</div>

	<div class="layout-right-header">Grupper</div>
		<a ng-repeat="g in groups" 
			bs-popover
			data-html="true"
			data-content="{{ g.popoverHtml }}"
			data-trigger="hover"
			data-placement="top"
			data-container="html"
			style="margin-left:7px;margin-bottom:5px;"
			class="btn btn-default btn-xs" 
			ng-class="{ 'btn-primary' : g.active }"	
			ng-href="{{ g.url }}">
			<i ng-if="g.is_owner"	class="fa fa-hand-paper-o" ng-class="{ 'text-danger': !g.active }"></i>
				<span ng-class="{ 'text-danger': !g.active }">{{ g.name }}</span>
		</a>
		

	<div class="col-md-12 clearfix">&nbsp;</div>

	<div class="layout-right-header">Kontaktoplysninger</div>

</div>


<div class="col-md-3">

	<div ng-if="is_self == true">
		<div class="layout-right-header">Handlinger</div>
		<div class="layout-right-header-content">
			<a href="/dig" debug-link
				title="Rediger din profil, opret event, artikler, grupper mm">
				<i class="fa fa-fw fa-wrench fa-x2"></i>Gå til personlig profil<br>
			</a>
		</div>
	</div>


	<div ng-if="showAddress || showEmail || showPhone">
		<div class="layout-right-header">Kontakt</div>
		<div class="layout-right-header-content">
			<span ng-if="showEmail">
				<i class="fa fa-fw fa-envelope-o fa-x2"></i><a ng-href="mailto:{{ user.email }}">{{ user.email }}</a><br>
			</span>
			<span ng-if="showAddress">
				<i class="fa fa-fw fa-address-book-o fa-x2"></i>{{ user.address.address }}<br>
			</span>
			<span ng-if="showPhone">
				<i class="fa fa-fw fa-phone fa-x2"></i>{{ user.address.phone1 }}
			</span>
		</div>
	</div>

	<div ng-if="showSocial">
		<div class="layout-right-header">Web / SoMe</div>
		<div class="layout-right-header-content">
			<social-media-links record="{{ user.social }}"></social-media-links>
		</div>
	</div>

	<div class="layout-right-header">Deltager i kommende events</div>
	<div class="layout-right-header-content">
		<div user-events-participate="{{ user }}"></div>
	</div>

	<div class="layout-right-header">Seneste events</div>
	<div class="layout-right-header-content">
		<span ng-repeat="event in events">
			<a ng-href="#/event/{{ event.id }}/{{ event.name }}" debug-link>
				<span class="medlem-event-date">
					{{ event.date | date:"dd/MM" }}
				</span>
				<span class="medlem-event-name">
					<strong>				
						{{ event.name }}
					</strong>
				</span>
			</a>
		</span>
	</div>

	<div class="layout-right-header">Seneste kommentarer</div>

</div>



