
<div class="col-md-9">

	<div class="artikel">
		<h4>
			<small>
				Oprettet <span title="{{ page.realDate }}">for {{ page.dateStamp }}</span>
				af <a href="{{ page.userUrlLink }} ">{{ page.userFullName }}</a>
				<span ng-if="page.editedDateStamp != undefined">, redigeret for {{ page.editedDateStamp }}</span>
			</small>
		</h4>
		<h1> {{ page.header }} </h1>
		<h4><em> {{ page.sub_header }} </em></h4>

		<div ng-if="page.imageUrl" class="artikel-image">
			<img ng-src="{{ page.imageUrl }}">
		</div>

		<div class="artikel-content" ng-bind-html="page.content"></div>

		<div class="col-md-12 clearfix">
			<br>
			<entity-rating hash="{{ page.hash }}" user-id="{{ user.id }}" is-self="user.id == page.user_id" class="pull-right"></entity-rating>
		</div>

		<comments hash="{{ page.hash }}" on-comment-added="onCommentAdded"></comments>
	</div>

</div>


<aside class="col-md-3">

</aside>


