<div class="modal ng-scope top am-fade center" tabindex="-1" role="dialog" style="display: block;" id="wait-modal">
	<div class="modal-dialog" style="width: 600px;">
		<div class="modal-content">
			
			<div class="modal-body">
				<div class="row">
					<div class="col-md-1">
						<i class="fa fa-wrench fa-3x faa-spin animated text-primary "></i>
					</div>
					<div style="vertical-align: top;" class="col-md-11">
						<h2 ng-bind-html="message" class="no-padding no-margin"></h2>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
